@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');


:root {
    --primary-color: #5C5567   ;
    --secondary-color: #DD3D4F ;
    --accent1-color: #E1C7BB;
    --accent2-color: #A090A2;
    --heading-font: "Fjalla One";
    --paragraph-font: "HeBungee-Inline", lvetica, sans-serif;
  
    --headline-color-on-white: #313131;  
    --headline-color-on-color: white;
   
    --paragraph-color-on-color: rgb(0, 0, 0); 
    --paragraph-background-color: #8fb996  ;
    --nav-link-color: #8fb996;
    --nav-background-color: #a1cca5;
    --nav-hover-link-color: rgb(221, 61, 79);
    --nav-hover-background-color: #8fb996;
  }
 body{
    background-color: rgba(41, 40, 40, 0.726);
 }
header nav{
    justify-content: right;
    display: flex;
    position: right;
    margin: auto;
    justify-content:space-around;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 1.5rem;
}

nav a{
    display: flex;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    padding: 1.5rem;
}

header img{
    display: flex;
    float: left;
    justify-content: start;
    max-width: 107px;
    background-color: rgb(2,0,36);
    padding: 0.49rem
}


h1{
    text-align: center;
    padding: 1.5rem;
}

h1, h2, h3{
    color: #DD3D4F;
    background-color: #b9b9b9;
    padding: 1.5rem;
}

p{
    color: white;
    font-size: 1rem;
    font-family: 'Fjalla One';
    text-align: justify;
    padding: 1.5rem
    
}
.map{
    padding: 1.5rem
}
.avatar {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    margin-bottom: 15px;
  }

.avatar-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    height: 200px;;
}
.avatar-box h4{
    position:relative;
    display: flex;
    top: 5em;
    right: 5em;
    justify-content: space-around;
    color: #fff;
    align-items: flex-start;
    padding: 10px;

}

fieldset{
    display: flex;
    padding: 1.5rem;
    margin: auto;
    flex-direction: column;
    align-content: center;
    background-color: #474747c7;
    text-align: center;
    width: auto;
    margin: auto;
}

label{
    margin: 0.6rem;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    margin: auto
    
}

input[type="checkbox"]{
    padding: 2rem;
}

form button {
    display: block;
    cursor: pointer;
    padding: 0.5em 3em;
    border: none;
    border-radius: 5px;
    background: rgba(224, 38, 38, 0.479);
    margin: 4px 0;

  }

.a01{
    background-color: #fff;
}
footer p{
    float: right;
    color: #313131;
    padding-right: 1rem;
    height: 10px;
}
footer img{
    width: 40px;
    justify-content:space-around;
    padding: 1.5rem;
}