/* CSS Variables (Root) */
:root {
  --primary-color: #2A628F; 
  --secondary-color: #A98743; 
  --accent1-color: #1D263B;
  --accent2-color: #F4F7F5; 
  
  --heading-font: 'Georgia', serif;
  --body-font: 'Arial', Helvetica, sans-serif;
}

/* Universal Selector Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: var(--body-font);
  color: var(--accent1-color);
}

/* Page width limit and centering */
header, main, footer {
  width: 840px;
  margin: 0 auto;
}

/* Header and Navigation styling */
header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    gap: 20px;
    padding: 10px 0;
}

header nav {
    margin: 0;
    padding: 0;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

header nav li {
    margin: 0 15px;
}

header nav a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 1.1rem;
}

header nav a:hover {
    color: var(--accent1-color);
    text-decoration: underline;
}

/* Heading styling */
h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

/* Basic margin and padding */
p, section {
  margin: 16px;
  padding: 8px;
}

/* Footer social media links */
.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 35px; 
    height: auto;
    margin: 10px; 
}

/* Hero section styling */
.hero {
  position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
  }

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff; 
}

.hero article {
  position: absolute;
  top: 90px; 
  width: 90%; 
  margin: 0 5%; 
  padding: 10px;
  background-color: var(--accent2-color);
  opacity: 0.85; 
  border-radius: 5px;
}

.hero article img {
  float: right;
  width: 125px;
  margin: 0 0 10px 10px; 
  border: 1px solid var(--primary-color);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}