:root {
    --primary-color: #5C5567   ;
    --secondary-color: #DD3D4F ;
    --accent1-color: #E1C7BB;
    --accent2-color: #A090A2;
    --heading-font: "Fjalla One";
    --paragraph-font: "HeBungee-Inline", lvetica, sans-serif;
  
    --headline-color-on-white: #313131;  
    --headline-color-on-color: white;
   
    --paragraph-color-on-color: rgb(0, 0, 0); 
    --paragraph-background-color: #8fb996  ;
    --nav-link-color: #8fb996;
    --nav-background-color: #a1cca5;
    --nav-hover-link-color: rgb(221, 61, 79);
    --nav-hover-background-color: #8fb996;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
  body {
    max-width: 960px;
    font-family: "HeBungee-Inline";
    margin: 0 auto;
    padding: 20px ;
    font-size: 18px;
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
  }
  h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-family: "Fjalla One";
    font-style: normal;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/bungeeinline/v11/Gg8zN58UcgnlCweMrih332VuPGt_-WEg.woff2) format('woff2');
  }
  h2 {
    text-align: center;
  }
  hr {
    height: 3px;
    margin: 35px 0;
    background: rgb(225, 199, 187);
  }
  header {
    padding: 20px;
    background-color: #8fb996;
  }
  header > h1, header > h2 {
    color: #313131;
  }
  p {
    font-family: "HeBungee-Inline";
    color: #000000;
    padding: 25px;
  }
  .colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }
  .primary {
    background-color: rgb(92, 85, 103);
  }
  .secondary {
    background-color: rgb(221, 61, 79);
  }
  .accent1 {
    background-color: rgb(225, 199, 187);
  }
  .accent2{
    background-color: rgb(160, 144, 162);
  }
  p.colored {
    background-color: rgb(225, 199, 187);
    color: rgb(92, 85, 103);
  }
  nav {
    background-color: rgb(92, 85, 103);
    line-height: 3em;
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    list-style-type: none;
  }

  nav a {
    display: block;
    color:rgb(221, 61, 79);
    padding:1rem;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
  }
  nav a:link, nav a:visited {
    color: rgb(221, 61, 79);
  }
  nav a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(85, 85, 85);
  }
