:root {
    --primary-color: #CCD5AE   ;
    --secondary-color: #FEFAE0 ;
    --accent1-color: #FAEDCD;
    --accent2-color: #D4A373;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
  body {
    max-width: 960px;
    font-family: "HeBungee-Inline";
    margin: 0 auto;
    padding: 20px ;
    font-size: 18px;
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-family: "Fjalla One";
  }

  h2 {
    text-align: center;
  }
  hr {
    height: 3px;
    margin: 35px 0;
    background: rgb(225, 199, 187);
  }
  header {
    padding: 20px;
    background-color: #8fb996;
  }
  header > h1, header > h2 {
    color: #313131;
  }
  p {
    font-family: "HeBungee-Inline";
    color: #000000;
    padding: 25px;
  }
  .colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }
  .primary {
    background-color: #CCD5AE;
  }
  .secondary {
    background-color: #FEFAE0;
  }
  .accent1 {
    background-color: #FAEDCD;
  }
  .accent2{
    background-color: #D4A373;
  }
 
  nav {
    background-color: #CCD5AE;
    line-height: 3em;
    text-align: center;
    justify-content: flex-end;
    font-size: 1.2rem;
    display: flex;
    list-style-type: none;
  }

  nav a {
    display: block;
    color:#000000;
    padding:1rem;
    min-width: 120px;
    text-decoration: none;
    padding: 10px;
  }
  nav a:link, nav a:visited {
    color: #000000;
  }
  nav a:hover {
    color: rgb(255, 255, 255);
    background-color: #959e79;
    border-radius: 50%;
  }

  footer p{
    float: right;
    color: #313131;
    padding-right: 1rem;
    padding-bottom: 5rem;
    z-index: -1;
    height: 10px;
}
footer img{
    width: 40px;
    justify-content:space-around;
    padding: 0.7rem;
}
