:root {
    --primary-color: #CCD5AE   ;
    --secondary-color: #FEFAE0 ;
    --accent1-color: #FAEDCD;
    --accent2-color: #D4A373;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body{
    background-color: #FEFAE0;
 }
header nav{
    justify-content: right;
    display: flex;
    position: right;
    margin: auto;
    justify-content:space-around;
    background: #CCD5AE;
    padding: 1.5rem;
}

nav a{
    display: flex;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    padding: 1.5rem;
}

nav a:link, nav a:visited {
    color: #000000;
}

nav a:hover {
    color: rgb(255, 255, 255);
    background-color: #959e79;
    border-radius: 50%;
}

header img{
    display: flex;
    float: left;
    justify-content: start;
    max-width: 107px;
    background-color: #CCD5AE;
    padding: 0.49rem
}

h1{
    text-align: center;
    padding: 1.5rem;
}

h1, h2, h3{
    color: #313131;
    background-color: #FAEDCD;
    padding: 1.5rem;
    font-family: "Fjalla One"
}

p{
    color: #313131;
    font-size: 1rem;
    font-family: 'Fjalla One';
    text-align: justify;
    
}

/*   Here */

main{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: none;
}

.portal-01{
    display: flex;
    box-sizing: content-box;
}


.img-prime{
    display:flex;
    max-width: 800px;
    height: 400px;
    flex-direction: column;
    
}

.primer{
    display: flex;
    flex-direction: column;
}

.portal-02{
    display: flex;
    margin-top: none;
}

.galeria{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#galeria-01{
    width: 180px;
    height: 150px;
    padding: 0.5rem;
    align-items: center;
}

main p{
    display: flex;
    float: inherit;
    flex-direction: column;
}

figure{
    display: block;
}

figcaption{
    display: flex;
    align-items: center;
    flex-direction: column;
}

button{
    display: block;
    cursor: pointer;
    padding: 0.5em 3em;
    border: none;
    border-radius: 5px;
    background: rgba(224, 38, 38, 0.479);
    margin: 4px 0;
    max-width: 150px;
    margin-bottom: 1rem;
}

.a01{
    background-color: #D4A373;
}

footer p{
    float: right;
    color: #313131;
    padding-right: 1rem;
    height: 10px;
}

footer img{
    width: 40px;
    justify-content:space-around;
    padding: 1.5rem;
}